@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron university-img">
    <h1>Contoso University</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Contoso University</h2>
        <p>
            Contoso University is a proud institution helping thousands acheive their degree on campus or online. We offer several different degrees with some of the best educators in the nation. Get your degree and the tools you need to succeed in the workplace at Cantoso.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Learn more about Cantoso University</h2>
        <p>You can learn more about Cantoso University by clicking on the links above. See the about page for more information on the author</p>
        <p><a class="btn btn-default" href="/Home/About">About >></a></p>
    </div>
    <div class="col-md-4">
        <h2>Enroll at Cantoso University</h2>
        <p>To enroll at Cantoso click on the Students tab, or click on this link:</p>
        <p><a class="btn btn-default" href="/Students/Create">Enroll >></a></p>
    </div>
</div>